:root{
    background-color: #e9e9e9;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul{
    display: flex;
    flex-direction: column;
}
.school{
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
}

h2{
    margin: .5rem;
}

#address{
    font-size: .8rem;
}