:root{
    background-color: #e9e9e9;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li{
    /* border: 2px solid red; */
}
ul{
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
}
.school{
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
    /* border: 2px solid black; */
}