*{
    margin: 0;
    padding: 0;
}

:root{
    /* background-color: #e9e9e9; */
    font-family: Arial, Helvetica, sans-serif;
}

img{
    max-height: 75%;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    cursor: pointer;
    text-decoration: underline;
    color: rgb(34, 33, 33);
}


.header{
    display: flex;
    justify-content: space-between;
}

.header > div{
    display: flex;
    align-items: center;
    height: 63px;
    width: 99vw;
}

.header > .left, .header > .right{
    width: 5%;
    /* border: 1px solid blue; */
    margin: 0;
    justify-content: center;

}

.center-head{
    width: 90%;
    /* border: 1px solid red; */
}

.nav-item{
    margin: 1rem;
    justify-self: left;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid black; */
    height: 90%;
}

.nav-item > img, .nav-item > .text{
    margin: 0 .5rem;
    font-size: .8rem;
    max-height: 1.5rem;
    /* border: 2px solid red; */
}

.profile{
    border-radius: 50%;
    max-height: 50%;
    cursor: pointer;
}

.center{
    margin-top: 5rem;
    justify-self: center;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.hero{
    max-width: 70%;
    margin-bottom: 2.5rem;
    margin-left: 90px;
}

.search-span{
    display: flex;
    flex-direction: row;
    height: 2rem;
    margin-bottom: 1.5rem;
}


.search-bar{
    width: 90%;
    height: 100%;
    border-radius: 5px 0 0 5px;
    border: .25px solid rgb(207, 201, 201);
    padding: .5rem;
}

.search-bar:focus{
    border: 1px solid blue;
}

.search-button{
    width: 10%;
    background-color: #0085FE;
    border: none;
    cursor: pointer;
}

/* .search-button img{
} */

.red{
    color: red;
}

.blue{
    color: blue;
}

.blue:visited{
    color: #660099;
}

p{
    align-self: center;
    font-size: .9rem;
}

.quote{
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: bold;
    color: green;
}

.footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    /* border: 2px solid red; */
    height: 4%;
    border-top: .2px solid #b6b4b4;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    color: #666;
    font-size: .6rem;
}

.footer > span{
    /* border: 2px solid red; */
    display: inherit;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.lang > *{
    margin: 5px;
}

.footer > span > a{
    font-size: .6rem;
    margin: 5px;
    color: #666;
}

